.Introduction {
  display: inline-flex;
  align-items: end;
}

.ProfileIMG {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.JobTag {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 1rem;
  font-weight: 700;
  max-width: fit-content;
  max-height: fit-content;
  color: var(--text-color);
  border: 1px solid #4fd25c;
  border-radius: 100px;
  background-clip: padding-box;
  background-color: var(--green-background-color);
  box-shadow: 0 0 10px #8a8a8a;
}
